.bg-pic{
	background: url(TEst.jpg);
	height: 300px;
	background-size: cover;
}

html{
	background-color: #DCEDC8
}

.container{
	color: #DCEDC8;
	background-color: #8BC34A;
}

.div1{
	background-color: #DCEDC8;
	color: darkgrey;
	border: solid #8BC34A 3px;
}

.div2{
	color: darkgray;
	background-color: #DCEDC8;
	border: solid #8BC34A 3px;
}